.vs/MyTestLib/DesignTimeBuild/.dtbcache.v2
.vs/MyTestLib/FileContentIndex/974eb945-b9fa-485d-99bb-384834f8acc1.vsidx
.vs/MyTestLib/FileContentIndex/2545dbaf-5540-48f4-afd6-dd5e8904c048.vsidx
.vs/MyTestLib/FileContentIndex/read.lock
.vs/MyTestLib/v17/.futdcache.v1
.vs/MyTestLib/v17/.suo
.vs/MyTestLib/v17/TestStore/0/000.testlog
.vs/MyTestLib/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/mytestlib.metadata.v2
.vs/ProjectEvaluation/mytestlib.projects.v2
MyTestLib/bin/Release/MyTestLib.0.0.0.16.nuspec
MyTestLib/bin/Release/MyTestLib.SDK.0.0.0.16.nupkg
MyTestLib/bin/Release/MyTestLib.SDK.0.0.0.16.snupkg
MyTestLib/bin/Release/lib/netstandard2.0/MyTestLib.deps.json
MyTestLib/bin/Release/lib/netstandard2.0/MyTestLib.dll
MyTestLib/bin/Release/lib/netstandard2.0/MyTestLib.pdb
MyTestLib/bin/Release/lib/netstandard2.0/MyTestLib.xml
MyTestLib/bin/Release/licenses/LICENSE.txt
MyTestLib/bin/Release/netstandard2.0/MyTestLib.deps.json
MyTestLib/bin/Release/netstandard2.0/MyTestLib.dll
MyTestLib/bin/Release/netstandard2.0/MyTestLib.pdb
MyTestLib/obj/MyTestLib.csproj.nuget.dgspec.json
MyTestLib/obj/MyTestLib.csproj.nuget.g.props
MyTestLib/obj/MyTestLib.csproj.nuget.g.targets
MyTestLib/obj/project.assets.json
MyTestLib/obj/project.nuget.cache
MyTestLib/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyTestLib/obj/Debug/net6.0/MyTestLib.AssemblyInfo.cs
MyTestLib/obj/Debug/net6.0/MyTestLib.AssemblyInfoInputs.cache
MyTestLib/obj/Debug/net6.0/MyTestLib.assets.cache
MyTestLib/obj/Debug/net6.0/MyTestLib.csproj.AssemblyReference.cache
MyTestLib/obj/Debug/net6.0/MyTestLib.GeneratedMSBuildEditorConfig.editorconfig
MyTestLib/obj/Debug/net6.0/MyTestLib.GlobalUsings.g.cs
MyTestLib/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
MyTestLib/obj/Debug/netstandard2.0/MyTestLib.AssemblyInfo.cs
MyTestLib/obj/Debug/netstandard2.0/MyTestLib.AssemblyInfoInputs.cache
MyTestLib/obj/Debug/netstandard2.0/MyTestLib.assets.cache
MyTestLib/obj/Debug/netstandard2.0/MyTestLib.csproj.AssemblyReference.cache
MyTestLib/obj/Debug/netstandard2.0/MyTestLib.GeneratedMSBuildEditorConfig.editorconfig
MyTestLib/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
MyTestLib/obj/Release/netstandard2.0/MyTestLib.AssemblyInfo.cs
MyTestLib/obj/Release/netstandard2.0/MyTestLib.AssemblyInfoInputs.cache
MyTestLib/obj/Release/netstandard2.0/MyTestLib.assets.cache
MyTestLib/obj/Release/netstandard2.0/MyTestLib.csproj.AssemblyReference.cache
MyTestLib/obj/Release/netstandard2.0/MyTestLib.csproj.CoreCompileInputs.cache
MyTestLib/obj/Release/netstandard2.0/MyTestLib.csproj.FileListAbsolute.txt
MyTestLib/obj/Release/netstandard2.0/MyTestLib.dll
MyTestLib/obj/Release/netstandard2.0/MyTestLib.GeneratedMSBuildEditorConfig.editorconfig
MyTestLib/obj/Release/netstandard2.0/MyTestLib.pdb
